# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
bin/
include/
lib/
lib64
pyvenv.cfg
env/
venv/
.env
.venv
.claude 
.obsidian

# IDEs
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db
